<div class="grey">
	<div class="row">
		<div class="col-xs-6">
			Participa en los comentarios
		</div>	
		<div class="col-xs-6">
			<%= @article.comments.count %> comentario(s)
		</div>	

		<div class="top-space col-xs-12">
			<%= render "comments/form" %>
		</div>
		
		<div class="top-space col-xs-12">
			<%= render @article.comments %>
		</div>

	</div>
</div>