html,body{
	margin:0;
	padding:0;
	background:#FFF;
	color:#446B88;
	font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
a, a:visited{
	text-decoration:none;
}
header ul li a{
	color:#F5F5F5;
}
h1 a{
	color: #446B88;
}
#logo{
	font-size:1.2em;
}
.no-margin{
	margin:0;
}
.no-list{
	list-style:none;
}
.green{
	color:#009688;
}
.be-green{
	background:#009688;
}
.be-dark-green{
	background:#00796B;
}
.red{
	color: #ef5350;
}
.blue{
	color: blue;
}
.be-red{
	background:#ef5350;
}
.be-alert{
	background:#ef5350;
	padding:5px 10px;
	font-size:0.8em;
}
.white,.white h2 a{
	color:#F5F5F5 !important;
}
.large-padding{
	padding: 8px 5px;
}
.field,.top-space,.actions{
	margin-top:1em;
}
.form-control{
	border:none;
	border-bottom:1px solid;
	outline:none;
	width:100%;
	display:block;
	padding:10px 0;
	font-size:1.2em;
}
.BtnForm{
	border:none;
	background:#009688;
	color:#FFF;
	padding:10px 15px;
	outline:none;
	text-transform:uppercase;
	cursor:pointer;
	font-size:1.2em;
}
.text-left{
	text-align: left;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
}
.article-height{
	height: 150px;
}
.background-cover{
	background-position: center;
	background-size: cover;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align: right;
}
.be-big{
	font-size:2em;
}
.bottom-space{
	margin-bottom: 2em;
}
.be-small{
	font-size: 12px;
}
.underline{
	text-decoration: underline;
}
.text-justify{
	text-align: justify;
}
.grey{
	color:#616161;
}